<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>December</string>
		<key>imageName</key>
		<string>12-December</string>
		<key>section</key>
		<string>Winter</string>
		<key>index</key>
		<integer>0</integer>
		<key>text</key>
		<string>Nato da Antonio Palma, pittore, e Giulia de Pitati, appartenenti ad una famiglia dalla spiccata indole artistica, fu subito iniziato agli studi pittorici sulle orme dello zio del padre, Palma il Vecchio e del fratello della madre, Bonifacio de Pitati, detto Bonifacio Veronese.

Nel 1564 il duca di Urbino Guidobaldo Secondo della Rovere, in visita a Venezia, apprezzò le doti artistiche di Jacopo che dapprima lo invitò a corte e in seguito, nel maggio 1567, lo inviò quattro anni a Roma ospite del suo ambasciatore Traiano Mario. Del periodo romano il Ritratto di Matteo da lecce che riporta la scritta pitor in Roma del 1568.

Studiò e subì l&apos;influenza di Raffaello e Tintoretto, eseguì varie copie di Tiziano, suo vero maestro, col quale in seguito collaborò portandone anche a termine il celebre dipinto La Pietà.

Si formò nel periodo della scuola veneta e del manierismo romano, che ebbe modo di apprendere durante i quattro anni del suo soggiorno romano.</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>January</string>
		<key>imageName</key>
		<string>01-January</string>
		<key>section</key>
		<string>Winter</string>
		<key>index</key>
		<integer>1</integer>
		<key>text</key>
		<string>a</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>February</string>
		<key>imageName</key>
		<string>02-February</string>
		<key>section</key>
		<string>Winter</string>
		<key>index</key>
		<integer>2</integer>
		<key>text</key>
		<string>b</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>March</string>
		<key>imageName</key>
		<string>03-March</string>
		<key>section</key>
		<string>Spring</string>
		<key>index</key>
		<integer>3</integer>
		<key>text</key>
		<string>c</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>April</string>
		<key>imageName</key>
		<string>04-April</string>
		<key>section</key>
		<string>Spring</string>
		<key>index</key>
		<integer>4</integer>
		<key>text</key>
		<string>d</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>May</string>
		<key>imageName</key>
		<string>05-May</string>
		<key>section</key>
		<string>Spring</string>
		<key>index</key>
		<integer>5</integer>
		<key>text</key>
		<string>e</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>June</string>
		<key>imageName</key>
		<string>06-June</string>
		<key>section</key>
		<string>Summer</string>
		<key>index</key>
		<integer>6</integer>
		<key>text</key>
		<string>f</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>July</string>
		<key>imageName</key>
		<string>07-July</string>
		<key>section</key>
		<string>Summer</string>
		<key>index</key>
		<integer>7</integer>
		<key>text</key>
		<string>g</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>August</string>
		<key>imageName</key>
		<string>08-August</string>
		<key>section</key>
		<string>Summer</string>
		<key>index</key>
		<integer>8</integer>
		<key>text</key>
		<string>h</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>September</string>
		<key>imageName</key>
		<string>09-September</string>
		<key>section</key>
		<string>Fall</string>
		<key>index</key>
		<integer>9</integer>
		<key>text</key>
		<string>h</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>October</string>
		<key>imageName</key>
		<string>10-October</string>
		<key>section</key>
		<string>Fall</string>
		<key>index</key>
		<integer>10</integer>
		<key>text</key>
		<string>i</string>
	</dict>
	<dict>
		<key>caption</key>
		<string>November</string>
		<key>imageName</key>
		<string>11-November</string>
		<key>section</key>
		<string>Fall</string>
		<key>index</key>
		<integer>11</integer>
		<key>text</key>
		<string>l</string>
	</dict>
</array>
</plist>
